.appart {
  &__header {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    flex-grow: 1;
    &h1 {
      color:#ff6060;
    }
  }

  &__owner {
    display: flex;
    flex-direction: column;
    color:#ff6060;
   

    @media screen and (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__details {
      display: flex;
      gap: 0.5rem;

      @media screen and (max-width: 768px) {
        order: 1;
      }
    }

    &__badge {
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: grey;
      }
    }

    &__stars {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      color: grey;

      * {
        font-size: 2rem;
      }

      &.on {
        color: coral;
      }
    }
  }

  h1, h2, h3 {
    font-weight: 400;
    margin-block: 0;

    &:not(h1) {
      margin-top: 0.5em;
    }

    &:not(h3) {
      margin-bottom: 0.2em;
    }
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 1rem;

    span {
      background-color: #ff6060;
      color: white;
      padding: 0.3em 0.5em;
      border-radius: 0.7rem;
      text-align: center;
    }
  }
}
