.description_display {
    display: flex;
    
}

.description_display description__header {
    margin: 1rem 1rem;
}


@media screen and (width <= 768px) {
    .description_display {
        display: block;
        
    }
}